/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Đảm bảo nội dung chính chiếm hết không gian còn lại */
  padding: 2rem;
}